body {
    opacity: 1;
    transition-duration: 0.4s;
    transition-property: opacity;

    background: rgb(10, 10, 10);
    background-image: linear-gradient(rgb(23, 23, 23) .05em, transparent 0.01em), 
                      linear-gradient(90deg, rgb(23, 23, 23) .05em, transparent 0.01em);
    background-size: 1.7em 1.7em;
}

body.fade {
    opacity: 0;
}

header, section, footer {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.style1 {
    background: rgb(10, 10, 10);
    background-image: linear-gradient(rgb(23, 23, 23) .05em, transparent 0.01em), 
                      linear-gradient(90deg, rgb(23, 23, 23) .05em, transparent 0.01em);
    background-size: 1.7em 1.7em;
}

.style2 {
    background-color:rgb(23, 23, 23);
    color: white;
    font-family: "Abel";
}

header.full-screen, section.full-screen {
    height: 100vh;
}

nav.main-nav {
    display: block;
    text-align: right;
}

nav.main-nav a {
    display: inline-block;
    margin-left: 35px;
    color: rgb(187, 187, 187);
    font-family: "Abel";
    font-size: 120%;
}

nav.main-nav a:hover {
    color: white;
}

nav.main-nav a.current {
    border-bottom: solid 2px white;
    color: white;
}

header h1 {
    display: block;
    color: white;
    font-family: "Abel";
    font-size: 1400%;
    font-variant: small-caps;
    margin-top: 20vh;
    font-weight: bolder;
}

header h1 mark {
    text-transform: uppercase;
    display: block;
    color: white;
    font-size: 70%;
    font-weight: bolder;
}

nav.connect-nav {
    text-align: right;
    margin-top: 20vh;
    background: transparent;
}

nav.connect-nav a {
    float: right;
    display: block;
    width: 55%;
    margin-bottom: 10px;
    font-family: "Abel";
    color: rgb(187, 187, 187);
    font-size: 400%;
    font-weight: bolder;
}

nav.connect-nav a:hover {
    color: white;
}

section.connect h1 {
    display: block;
    width: 45%;
    float: left;
    font-family: "Abel";
    color: white;
    font-weight: bolder;
    font-size: 1000%;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 20vh;
}

section.connect h1 mark {
    display: block;
    float: left;
    color: rgb(187, 187, 187);
    font-size: 70%;
    margin-top: 0px;
}

/*
  Dev Message
 */
section.dev-message {
    display: block;
    text-align: right;
    padding-top: 150px;
    font-family: "Abel";
    font-size: 200%;
    margin-top: 10vh;
    color:rgb(187, 187, 187);
}

section.dev-message h1 {
    text-align: right;
    font-size: 250%;
    margin-bottom: 30px;
    color: white;
}

section.dev-message nav {
    display: block;
    margin-top: 20px;
    text-align: right;
}

section.dev-message nav a {
    display: inline-block;
    margin: 0px 0px 20px 20px;
    color:rgb(187, 187, 187);
    font-size: 75%;
}

section.dev-message nav a:hover {
    color: white;
}