body {
    opacity: 1;
    transition-duration: 0.4s;
    transition-property: opacity;

    background: rgb(10, 10, 10);
    background-image: linear-gradient(rgb(40, 40, 40) .05em, transparent 0.01em), 
                      linear-gradient(90deg, rgb(40, 40, 40) .05em, transparent 0.01em);
    background-size: 1.7em 1.7em;
}

body.fade {
    opacity: 0;
}

.left {
    float: left;
    width: 40%;
}

.right {
    float: right;
    width: 40%;
}

.alone {
    width: 80%;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 25px;
    background: transparent;
    transition: background-color 0.2s ease-out;
}

header.scroll {
    background-color:rgb(10, 10, 10);
}

section, footer {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.style2 {
    background-color:rgb(23, 23, 23);
    color: white;
    font-family: "Abel";
}

header.full-screen, section.full-screen {
    min-height: 100vh;
}

section.half-screen {
    height: 50vh;
}

section div.inside-section.about {
    margin-top: 200px;
}

section div.inside-section.projects {
    margin-top: 130px;
}

div#about-text-group {
    padding-top: 100px;
}

nav.external-nav {
    display: block;
    float: left;
    text-align: left;
}

nav.external-nav a {
    display: inline-block;
    margin-right: 20px;
    color: rgb(187, 187, 187);
    font-size: 150%;
}

nav.main-nav {
    display: block;
    float: right;
    text-align: right;
}

nav.main-nav a {
    display: inline-block;
    /* margin-left: 35px; */
    margin-left: 18px;
    margin-right: 18px;
    color: rgb(187, 187, 187);
    font-family: "Abel";
    font-size: 120%;
    padding-bottom: 2px;
}

nav.main-nav a:hover {
    color: white;
}

nav.external-nav a:hover {
    color: white;
}

nav.main-nav a.current {
    border-bottom: solid 2px white;
    color: white;
}

div.dropdown-content a.current {
    border-bottom: none;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(10, 10, 10);
    min-width: 60px;
    z-index: 1;
    padding-top: 25px;
    padding-bottom: 15px;
}

.dropdown-content a {
    color: white;
    margin-bottom: 10px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    display: block;
    width: 100%;
    float: left;
    font-family: "Abel";
    color: white;
    font-weight: bolder;
    font-size: 1100%;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 27vh;
}

h1 mark {
    display: block;
    float: left;
    color: rgb(187, 187, 187);
    margin-top: 0px;
    width: 100%;
    font-size: 75%;
}

nav.connect-nav {
    display: block;
    float: right;
    text-align: right;
    margin-top: 30vh;
    width: 50%;
}

nav.connect-nav a {
    float: right;
    display: block;
    margin-bottom: 10px;
    font-family: "Abel";
    color: rgb(187, 187, 187);
    font-size: 350%;
    font-weight: bolder;
    width: 100%;
}

nav.connect-nav a:hover {
    color: white;
}

img#self {
    display: block;
    width: 500px;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
}

p {
    font-family: "Abel";
}

p.p-style1 {
    color: white;
    font-size: 500%;
}

p.p-style2 {
    color: white;
    font-size: 300%;
}

p.p-style3 {
    color:rgb(187, 187, 187);
    font-size: 200%;
}

p a {
    color: #B8D157;
    /* color: #E79548; */
}

p a:hover {
    color: #DFFF29;
    /* color: #F1CA4A; */
}

p mark {
    color: white;
}

h2 {
    color: white;
    font-size: 450%;
    font-family: "Abel";
    text-align: center;
    margin-bottom: 70px;
    text-transform: uppercase;
}

/* Design Rationale */
.design-rationale, .ux-reflection {
    margin-top: 130px;
}

.design-rationale h2, .ux-reflection h2 {
    margin-bottom: 40px;
}

.design-rationale p, .ux-reflection p {
    color: rgb(187, 187, 187);
    font-size: 150%;
    line-height: 1.2;
}

.design-rationale mark, .ux-reflection mark {
    color: white;
    font-size: 125%;
    font-weight: bold;
}

/* Project Descriptions */
section div.inside-section.project-description {
    margin-top: 100px;
    margin-bottom: 200px;
}

.project-description h2 {
    border-bottom: solid 2px rgb(187, 187, 187);
    padding-bottom: 30px;
    margin-bottom: 50px;
}

img#poster-animation, img#wireframes {
    display: block;
    float: left;
    width: 25%;
}

img#wireframes {
    margin-top: 100px;
}

td {
    padding-bottom: 15px;
}

table {
    display: block;
    float: right;
    width: 70%;
    margin-left: 30px;
    font-size: 140%;
}

td:first-of-type {
    font-size: 230%;
    width: 20%;
    padding-right: 30px;
    vertical-align: top;
}

h3.primary {
    display: block;
    float: right;
    text-transform: uppercase;
    color: white;
    font-family: Abel;
}

.p-style4 {
    display: block;
    float: left;
    width: 100%;
    color: rgb(187, 187, 187);
    line-height: 1.2;
}

.p-style4 mark, .p-style3 mark {
    font-weight: bold;
}

div.poster-container, div.wireframes-container {
    display: block;
    float: left;
    width: 25%;
}

img#poster-final, img#poster-draft {
    display: block;
    float: left;
    width: 100%;
}

img#written-wireframes, img#digital-wireframes {
    display: block;
    float: left;
    width: 100%;
}

/* Caption Overlay */
.container.draft, .container.final {
    display: block;
    float: left;
    position: relative;
}

.container.draft {
    margin-bottom: 50px;
}


img#poster-final, img#poster-draft {
    display: block;
    width: 100%;
    height: auto;
}

.caption-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:rgb(10, 10, 10);
}

.container:hover .caption-overlay {
    opacity: 0.8;
}

.caption {
    color: white;
    opacity: 1;
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Abel";
}

a .caption:hover {
    font-weight: bold;
}

section {
    padding-bottom: 50px;
}

table {
    margin-bottom: 10px;
}

/* Image Overlay */
.container.wireframing {
    display: block;
    float: left;
    position: relative;
    width: 40%;
    margin-left: 7%;
}

.container.poster {
    display: block;
    float: right;
    position: relative;
    width: 40%;
    margin-right: 7%;
}

img#wireframes-mockup {
    display: block;
    width: 100%;
    height: auto;
}

img#poster-mockup {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:rgb(10, 10, 10);
}

.container:hover .overlay {
    opacity: 0.8;
}

.name {
    color: white;
    font-size: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Abel";
}

.name:hover {
    font-weight: bold;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb {
    background: rgb(23, 23, 23);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(187, 187, 187);
}

::-webkit-scrollbar-button {
    background: rgb(23, 23, 23);
}

::-webkit-scrollbar-button:hover {
    background: rgb(187, 187, 187);
}

::-webkit-scrollbar-thumb:active {
    background: white;
}

::-webkit-scrollbar-button:active {
    background: white;
}

::-webkit-scrollbar-corner {
    color: rgb(10, 10, 10);
}